
body {
  color: #40514E
  margin: 0;
  text-align: center;
  font-family: 'Merriweather'serif;
  font-size: 40px;
}


h1 {
  color: #66BFBF;
  font-size : 5.625rem;
  margin:50px auto 0 auto;
  font-family:'Vladimir Script',sans-serif;
}

h2{
  color: #66BFBF;
  font-family:'Montserrat' sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
    font-family:'Montserrat' sans-serif;
}
 .top-container {
   background-color: #E4F9F5;
   position:relative;
   padding-top: 100px;
 }
 .middle-container: {
  margin:100px 0;
  width: 200px;
  height: 200px;

 }

 .bottom- container:{
   background-color: blue;
   width : 200px;
   height: 200px;
 }
 .skill-row{
   width: 50%
   margin: 100px auto 100px auto;
   text-align:  2;
 }
 .pro{
   text-decoration: underline;
  }
  .intro {
    width: 30px;
    margin:auto;
  }

  .top-cloud{
    position: absolute;
    right:100px;
    top: 40px;
  }

  .bottom-clound {
   position: absolute;
   left:50px;
   bottom: 5000px;
  }







 .code-img {
   width: 25%;
   float:left;
   margin-right: 30px;
 }
  .code-skill-description{
      clear: left
  }

.right-img{
  width:25%
}
.left-img{
  width: 100%
  float:left;
  margin-right: 30px;
}
